<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwwgbLd3Jfk186SMgEVdc1k1LOK2ERSLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>124040414391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.Taro.LF</string>
	<key>PROJECT_ID</key>
	<string>lfapp-8c285</string>
	<key>STORAGE_BUCKET</key>
	<string>lfapp-8c285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124040414391:ios:4232a85938bbc2fa5eb932</string>
</dict>
</plist>